<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BankingServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="BankingServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://34.229.220.156/BankingService/Bankservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="BankingServiceSoap"
                contract="Banking.BankingServiceSoap" name="BankingServiceSoap" />
            <endpoint address="http://34.229.220.156/BankingService/Bankservice.asmx"
                binding="customBinding" bindingConfiguration="BankingServiceSoap12"
                contract="Banking.BankingServiceSoap" name="BankingServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>