<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IContactManager" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4442/ContactManagerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContactManager"
                contract="ContactExample.IContactManager" name="BasicHttpBinding_IContactManager" />
        </client>
    </system.serviceModel>
</configuration>